/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0079bf;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav-logo {
  width: 30px;
  height: auto;
}

.search-container {
  position: relative;
}

.search-container input {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.search-result-modal {
  position: absolute;
  top: 100%;
  left: 0;
  width: 110%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.card-description {
  font-weight: bold;
  color: black;
}

.card-details {
  font-size: 12px;
  color: #777;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #0079bf;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #f2f2f2;
}
